# Virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Test/cache folders
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Editor/OS files
.vscode/
.idea/
.DS_Store
Thumbs.db